<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="css/favicon.png">
</head>
<body ng-controller="LoginController as nav" ng-cloak
      class="ng-cloak">
<div class="container">
    <img src="css/logo.png"><br>
    <div class="container" ng-show="nav.authenticated && nav.broker">
        <a class="btn btn-home" href='#/' ng-show="nav.authenticated">Home</a>
        <a class="btn btn-primary" href="#/brokers-market">Market Overview</a>
        <a class="btn btn-primary" href="#/brokers-trades">All Trades</a>
        <br>
    </div>
    <div class="container" ng-show="nav.authenticated && nav.trader">
        <a class="btn btn-home" href='#/' ng-show="nav.authenticated">Home</a>
        <a class="btn btn-primary" href="#/traders-market">Market Overview</a>
        <a class="btn btn-primary" href="#/traders-trades">My Trades</a>
        <br>
    </div>
    <div ng-view></div>
    <div class="navbar-right">
        <a
                class="btn btn-logout" ng-show="nav.authenticated" href=""
                ng-click="nav.logout()">logout</a>
        <p style="font-weight: bold" ng-show="nav.authenticated">
            Signed in as <label class="user-info">{{nav.user}}</label>
        </p>
    </div>
</div>
<div class="alert alert-danger" ng-show="nav.error">There was a
    problem logging in. Please try again.
</div>
<div class="container" ng-show="!nav.authenticated && !nav.signupClicked">
    <form role="form" ng-submit="nav.login()">
        <div class="form-group">
            <label for="username">Username:</label> <input type="text"
                                                           class="form-control" id="username" name="username"
                                                           ng-model="nav.credentials.username"/>
        </div>
        <br>
        <div class="form-group">
            <label for="password">Password:</label> <input type="password"
                                                           class="form-control" id="password" name="password"
                                                           ng-model="nav.credentials.password"/>
        </div>
        <br>
        <button type="submit" class="btn btn-login">Login</button>
        <a href="#/traders-signup">
            <button ng-click="nav.signup()" class="btn btn-login btn btn-signup">Sign Up</button>
        </a>
    </form>
</div>
<script type="text/ng-template" id="pages/brokers-market.html">
    <div ng-include src="'partials/brokers-market.html'"></div>
</script>
<script type="text/ng-template" id="pages/brokers-trades.html">
    <div ng-include src="'partials/brokers-trades.html'"></div>
</script>
<script type="text/ng-template" id="pages/traders-market.html">
    <div ng-include src="'partials/traders-market.html'"></div>
</script>
<script type="text/ng-template" id="pages/traders-trades.html">
    <div ng-include src="'partials/traders-trades.html'"></div>
</script>
<script type="text/ng-template" id="pages/traders-signup.html">
    <div ng-include src="'partials/traders-signup.html'"></div>
</script>
</body>
</html>