<h1>Market Overview for Brokers</h1>
<br>
<div ng-controller="PriceController as ctrl" data-ng-init="getAllPrices()">
    <table ng-show="prices.length">
        <thead>
        <tr>
            <th></th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Spread</th>
        </tr>
        </thead>
        <tbody ng-repeat="prc in prices | orderBy : 'symbol'">
        <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{prc.symbol}}</td>
            <td>{{prc.price}}</td>
            <td>
                <input type="number" step="0.01" id="spread" size="4" min="0" max="9999" ng-model="spread"
                       value={{prc.spread}}/>
            </td>
            <td>
                <button ng-click="updateSpread(prc,spread)">Update</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p style="color: green">{{message}}</p>
    <p style="color: red">{{errorMessage}}</p>
    <br>
</div>