<h1>Market Overview</h1>
<div ng-controller="PriceController as ctrl" data-ng-init="getAllPrices()">
    <table ng-show="prices.length">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>Spread</th>
        </tr>
        </thead>
        <tbody ng-repeat="prc in prices | orderBy : 'symbol'">
        <tr>
            <td>{{prc.symbol}}</td>
            <td>{{prc.price}}</td>
            <td>
                <input type="number" step="0.01" id="spread" size="4" min="0" max="9999" ng-model="prc.spread"/>
            </td>
            <td>
                <button ng-click="updateSpread(prc,prc.spread)">Update</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p class="p p-info">{{message}}</p>
    <p class="p p-error">{{errorMessage}}</p>
    <br>
</div>