<!DOCTYPE html>
<html ng-app="app">
<style>
    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }

    table tr:nth-child(odd) {
        background-color: #f1f1f1;
    }

    table tr:nth-child(even) {
        background-color: #ffffff;
    }
</style>
<head>
    <meta charset="ISO-8859-1">
    <title>Prices</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="view/app.js"></script>
    <style>
        a {
            cursor: pointer;
            background-color: lightblue;
        }
    </style>
</head>
<body>
<div ng-controller="PriceCtrl as ctrl">
    <a ng-click="getAllPrices()">Get All Prices</a><br/>
    <table ng-show="prices.length">
        <thead>
        <tr>
            <th></th>
            <th>symbol</th>
            <th>bid</th>
            <th>offer</th>
            <th>quantity</th>
        </tr>
        </thead>
        <tbody ng-repeat="prc in prices | orderBy : 'symbol'">
        <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{prc.symbol}}</td>
            <td>{{prc.bid}}</td>
            <td>{{prc.offer}}</td>
            <td>
                <input type="number" id="quantity" size="4" min="1" max="9999" ng-model="quantity"/>
            </td>
            <td>
                <button ng-click="buy(prc,quantity)">Take</button>
            </td>
            <td>
                <button ng-click="sell(prc,quantity)">Hit</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>