<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="ISO-8859-1">
    <title>Market Overview</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="view/app.js"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<h1>Market Overview</h1>
<br>
<div ng-controller="PriceCtrl as ctrl" data-ng-init="getAllPrices()">
    <label>Realtime: </label>
    <label class="switch">
        <input ng-click='realTimeStateChanged(isRealTime)' ng-model="isRealTime" type="checkbox">
        <span class="slider round"></span>
    </label>
    <table ng-show="prices.length">
        <thead>
        <tr>
            <th></th>
            <th>symbol</th>
            <th>bid</th>
            <th>offer</th>
            <th>quantity</th>
        </tr>
        </thead>
        <tbody ng-repeat="prc in prices | orderBy : 'symbol'">
        <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{prc.symbol}}</td>
            <td>{{prc.bid}}</td>
            <td>{{prc.offer}}</td>
            <td>
                <input type="number" id="quantity" size="4" min="1" max="9999" ng-model="quantity"/>
            </td>
            <td>
                <button ng-click="buy(prc,quantity)">Take</button>
            </td>
            <td>
                <button ng-click="sell(prc,quantity)">Hit</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p style="color: green">{{message}}</p>
    <p style="color: red">{{errorMessage}}</p>
</div>
</body>
</html>